body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Dosis', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');


  div.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  background-color: #78a8cf;
  padding: 10px;
}  

img {
  width: 100px;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  background-color: #78a8cf;
  padding: 10px;
  
}