
  .navlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    font-size: 15px;
    list-style-type: none;
    background-color: clear;
    
  };

  

  .navbar{
  height: 80px;
  
    };
  
    