


.footer-container {
  padding: 20px;
  background-color:#346751;
 
}

img.sponsor-logo{
  padding: 15px 65px 30px 30px; 
  width: 200px; 
  
}

div#sponsor-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #346751;
}


.grid-container {
  display: grid;
  grid-template-columns:15em 15em auto;
  padding: 10px;
  font-size: 30px;
  font-style: oblique;
  
}

#creators {
  color: black;
 text-align: center;
}

#Lauren :hover, #Marquis :hover, #Mona :hover {
  color: black;
}
 

#footer-text {
  color: black;
}

.orangeLogofinal {
  margin-left: 550px;
  width: 80px;
  box-shadow: 2px 2px 20px 3px black;
}

   