
  .navlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    font-size: 20px;
    list-style-type: none;
    background-color: #346751;
    text-decoration: none;
    margin-bottom: 0px;
    margin-left: -20px;
    
    
  };

  .navlinks a {
  text-decoration: none;
  }


.navlinks a:visited {
color: #fff;
}

.navlinks a:hover {
background-color: #125D98;
margin-left: 0px;
}

.navbar{
height: 10px;
}



.navlinks li {
height: 100px;
width: 50px;
white-space: nowrap;
font-family: cursive;
}    

a.nav-titles {
  display: flex;
  position: relative;
  top: 30px;
}

 div.container {
 margin-left: 0px;
 }


img#orangeLogofinal.orangeLogofinal {
    display: flex;
    margin-left: -170px;
    margin-top: 12px;
    box-shadow: 2px 2px 20px 3px black;
    height: 65px;
    width: 70px;
    transition: all .2s ease-in-out;
    
    }
  
  .orangeLogofinal:hover{
    transform: scale(1.5);
  }